html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 20px;
	background-image: url("../img/pizzabg.jpg");
	background-attachment: fixed;
}

a {
	text-decoration: none;
	color: #d5d4d0;
}

a:hover {
   text-decoration: none;
}

div {
	font-family: 'Oswald';	
	color: #d5d4d0;
}

p {
	 margin: 0px; 
}

li { 
	padding: 5px 0px; 
	font-size: 1em;
}

.row {
	margin-right: 0px;
}

.clock {
	text-align: center;
	font-size: 2em;
	margin-top: -15px;
}

.stats {
	text-align: center;
	font-size: 2em;
}

.tag {
	text-align: center;
	font-size: 2em;
}

.numbers {
	font-size: 1em;
}

.blurb {
	padding-right: 30px;
	padding-left: 30px;
	font-size: 1.5em;
	text-align: center;
	color: #d5d4d0;
}

.header {
	width: 100%;
	color: #d5d4d0;
	text-align: center;
	background-color: #2b2b2b;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #2b2b2b;
	color: #d5d4d0;
	text-align: center;
	vertical-align: middle;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.col-xs-4 {
	font-size: 1.5em;
	padding-bottom: 15px;
}

.statLabel {
	font-size: 16px;
}

.section {
	line-height:1.5em;
}

#section1 {
	padding-left: 10px; margin-top:-50px; padding-top:50px;height:400px;color: #d5d4d0; background-color: #5f5e66;
}

#section2 {
	padding-left: 10px; padding-top:50px;height:550px;color: #d5d4d0; background-color: #c38f37;
}

#section3 {
	padding-left: 10px; padding-top:50px;height:400px;color: #d5d4d0; background-color: #9d2831;
}

#section4 {
	padding-left: 10px; padding-top:50px;height:550px;color: #d5d4d0; background-color: #5f5e66;
}