div {
	font-family: 'Oswald';	
	color: white;

}

h1 {
	font-family: Impact;
}

body {
	background-image: url("../img/pizzabg.jpg");
}

.header {
	color: white;
	font-size: 3em;	
	text-align: center;
}

.stats {
	text-align: center;
	font-size: 2em;
}

.tag {
	text-align: center;
	font-size: 2em;
}