div {
	font-family: 'Oswald';	
	color: #d5d4d0;

}

div .card {
	width:50px; 
	height:75px; 
	background-color: #d5d4d0;
	margin: 0 auto;
	border-radius: 3px;
	display: inline-block;
	color: black;
	line-height: 75px;
}

div .clock {
	text-align: center;
	font-size: 2em;
}

h1 {
	font-family: Impact;
}

body {
	background-image: url("../img/pizzabg.jpg");

}

p {
	 margin: 0px; 
}

.header {
	color: #d5d4d0;
	font-size: 3em;	
	text-align: center;
}

.stats {
	text-align: center;
	font-size: 2em;
}

.tag {
	text-align: center;
	font-size: 2em;
}

.numbers {
	font-size: 1em;
}
